<?xml version="1.0" encoding="UTF-8"?>


<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


    <display-name>Archetype Created Web Application</display-name>

    <!-- 配置当前web应用的初始化参数 -->
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUrl</param-name>
        <param-value>jdbc:mysql://47.98.171.62:3306/aidan-study?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false&amp;generateSimpleParameterMetadata=true</param-value>
    </context-param>

    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>org.aidan.servlet.HelloServlet</servlet-class>

        <!-- 配置当前servlet(helloServlet)的初始化参数 -->
        <init-param>
            <param-name>user</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>1230</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>secondServlet</servlet-name>
        <servlet-class>org.aidan.servlet.SecondServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>secondServlet</servlet-name>
        <url-pattern>/hello/*</url-pattern>
        <!--<url-pattern>/*</url-pattern>-->
        <!--<url-pattern>*.action</url-pattern>-->
    </servlet-mapping>
</web-app>
