<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Archetype Created Web Application</display-name>


    <servlet>
        <servlet-name>serviceServlet</servlet-name>
        <servlet-class>org.aidan.servlet.ServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serviceServlet</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>aaaServlet</servlet-name>
        <servlet-class>org.aidan.servlet.AaaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aaaServlet</servlet-name>
        <url-pattern>/aaa</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bbbServlet</servlet-name>
        <servlet-class>org.aidan.servlet.BbbServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bbbServlet</servlet-name>
        <url-pattern>/bbb</url-pattern>
    </servlet-mapping>
</web-app>
